* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  font-family: "Jost";
  background-color: black;
  overflow-x: hidden;

  .react-photo-gallery--gallery {
    background-color: black;
  }

  .back-button {
    position: absolute;
    top: 4%;
    left: 4%;
    background-color: black;

    .btn {
      border-radius: 0;
    }
  }

  .main-nav {
    z-index: 1;
    width: 100%;
    height: 4rem;
    background-color: white;
    box-shadow: 0 0.5px 3px 0 black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo-area {
      padding: 0 2rem;
      img {
        width: 4rem;
        filter: invert(100%);
      }
    }

    .main-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;

        .btn-home,
        .btn-menu,
        .btn-recipes,
        .btn-about,
        .btn-contact {
          cursor: pointer;
          color: black;
          font-size: 1rem;
          font-weight: bold;
          padding: 0.5rem;

          &:active {
            position: relative;
            top: 1px;
          }
        }

        .btn {
          font-size: 1rem;
          font-weight: bold;
          cursor: pointer;
          padding: 0.3rem 0.7rem;
          margin: 0 0.5rem;
          border-radius: 0;

          &:active {
            position: relative;
            top: 1px;
          }
        }

        #fb {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0 0.5rem;

          .fa-facebook {
            font-size: 1.5rem;
            color: black;
          }

          &:active {
            position: relative;
            top: 1px;
          }
        }

        #ig {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0 0.5rem;

          .fa-instagram {
            font-size: 1.5rem;
            color: black;
          }

          &:active {
            position: relative;
            top: 1px;
          }
        }
      }
    }
  }

  .home-wrapper {
    .home-page {
      .carousel-caption {
        width: 60%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
          font-size: 5vh;
          font-weight: bold;
          white-space: nowrap;
          filter: drop-shadow(1px 1px black);
        }

        p {
          filter: drop-shadow(1px 1px black);
        }

        span {
          display: block;
          height: 0.01rem;
          margin-bottom: 0.5rem;
          width: 55%;
          background-color: white;
        }
      }

      .carousel-img {
        width: 100%;
        height: 27rem;
        object-fit: cover;
        filter: brightness(90%);
      }

      .about-text {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        padding: 2rem 4rem;

        .title-sep,
        #text {
          margin: 0;
          font-size: 1rem;
          text-align: center;

          .link-button {
            outline: none;
            border: none;
            background-color: transparent;
            text-decoration: underline;
          }

          #meet {
            margin: 0;
          }

          span {
            display: block;
            position: relative;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 0.01rem;
            margin: 1rem 0;
            width: 40%;
            background-color: black;
          }
        }
      }
    }

    .parallax2 {
      #img2 {
        height: 40vh;
      }
    }

    .posts {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 2rem 0;

      .card {
        width: 15rem;
        margin: 1rem;

        .card-img-top {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
        }

        .card-body {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .card-text {
            text-align: center;
          }

          .btn {
            border-radius: 0;
            align-self: center;
          }
        }
      }
    }

    .reviews-page {
      height: 30rem;
      background-color: black;

      .carousel {
        width: 100%;
        height: 100%;

        .carousel-inner {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .card {
          width: 15rem;
          margin: auto;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .card-img-bottom {
            width: 5rem;
            height: 5rem;
            border-radius: 100%;
            object-fit: cover;
            padding: 0.05rem;
            border: 0.01rem solid grey;
          }

          .card-body {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            span {
              display: block;
              height: 0.01rem;
              margin: 1rem 0;
              width: 60%;
              background-color: rgb(196, 196, 196);
            }

            .card-text {
              text-align: center;
              margin: 0;
            }
          }
        }
      }
    }

    .contact-form {
      width: 100%;
      height: auto;
      background-color: white;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 80px 0;
      font-family: "Jost";

      h1 {
        font-size: 40px;
      }

      p {
        margin-top: 10px;
      }

      #line {
        display: block;
        margin: 50px 0;
        position: relative;
        height: 0.5px;
        width: 85%;
        background-color: rgba($color: #000000, $alpha: 0.2);
      }

      form {
        font-family: "Jost";
        width: 50vw;
        height: auto;
        align-self: center;
        display: flex;

        flex-direction: column;

        .contact-response {
          font-family: "Jost";
          width: 100%;
          height: auto;
          display: flex;

          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 40px;

          p {
            display: flex;

            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: rgb(48, 48, 48);
            font-weight: bold;
            font-size: 28px;
            margin: 0;

            .fa-check-circle {
              margin-right: 10px;
              font-size: 22px;
              color: lime;
              filter: drop-shadow(1px 1px rgba(#000, 0.4));
            }

            .fa-exclamation-circle {
              margin-right: 10px;
              font-size: 22px;
              color: crimson;
              filter: drop-shadow(1px 1px rgba(#000, 0.4));
            }
          }
        }

        .btn-10 {
          font-family: "Jost";
          font-weight: bold;
          width: 100px;
          background-color: transparent;
          color: black;
          border: 1px solid black;
          transition: all 0.4s ease;
          position: relative;
          margin: 0 auto;
          margin-top: 40px !important;
          padding: 10px 0;
          cursor: pointer;
          text-decoration: none;
          text-align: center;

          &:active {
            position: relative;
            top: 1px;
          }

          &:hover {
            color: white;
            background-color: black;
          }
        }

        .form-group {
          label {
            float: left;
            color: black;
            margin: 3px 0;
          }

          input {
            border-radius: 0;
            font-size: 16px;
            border: 0;
            border: 1px solid rgb(165, 165, 165);
            font-family: "Jost";
            margin-bottom: 20px;

            &:focus {
              outline: none;
              box-shadow: none;
              border: 1px solid rgba($color: #000000, $alpha: 0.5);
            }
          }

          textarea {
            border-radius: 0;
            font-size: 16px;
            resize: none;
            border: 1px solid rgb(165, 165, 165);
            font-family: "Jost";

            &:focus {
              outline: none;
              box-shadow: none;
              border: 1px solid rgba($color: #000000, $alpha: 0.2);
            }
          }
        }
      }
    }

    .footer {
      width: 100%;
      height: auto;
      background: white;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
      border-top: 1px solid black;

      .footer-data {
        width: 100%;
        height: auto;
        background: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        h1 {
          margin: 10px 0;
          margin-top: 60px !important;
        }

        #copy {
          margin-top: 40px;
          color: rgba($color: #000000, $alpha: 0.2);

          a {
            color: rgba($color: #000000, $alpha: 0.2);

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// Not Found Page

.not {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn-dark {
    position: absolute;
    top: 4%;
    left: 5%;
    font-weight: bold;
    border-radius: 0;

    &:focus,
    :active {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  #not-found {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-align: center;
  }

  .fa-exclamation-triangle {
    font-size: 5rem;
    margin: 2rem;
  }
}

// End
