* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Alata", Helvetica;
  font-display: swap;
}

html,
body {
  background-color: black;
  overflow-x: hidden;

  // UP Button CSSTransition

  .up-enter {
    opacity: 0;
  }
  .up-enter-active {
    opacity: 1;
    transition: opacity 1500ms;
  }
  .up-exit {
    opacity: 1;
  }
  .up-exit-active {
    opacity: 0;
    transition: opacity 1500ms;
  }

  .scroll-up {
    position: fixed;
    top: 94%;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.7);
    padding: 1rem;
    border: 1px solid white;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: 0.5s all ease;

    .fa-angle-double-up {
      font-size: 1.6rem;
      color: white;
    }

    &:active {
      position: fixed;
      top: 93.7%;
    }
  }

  .btn,
  .close {
    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }

  .bm-menu {
    background: white;

    .bm-item:focus {
      outline: none !important;
    }

    .side-nav {
      z-index: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .logo-area {
        padding: 1rem 0;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .close-btn {
          position: absolute;
          top: 0.6rem;
          right: 15rem;

          .fa-times {
            color: black;
          }
        }

        img {
          width: 4.07rem;
          height: 2.65rem;
          filter: invert(100%);
        }
      }

      #span-line {
        span {
          display: block;
          height: 0.01rem;
          margin: 0.1rem auto;
          width: 100%;
          background-color: rgba($color: #000000, $alpha: 0.2);
        }
      }

      .side-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: white;

        .nav-list {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          margin: 0;

          .btn-home,
          .btn-menu,
          .btn-recipes,
          .btn-about,
          .btn-contact {
            cursor: pointer;
            color: black;
            font-size: 1rem;
            font-weight: bold;
            margin: 0.5rem 0;
            padding: 0.5rem 2rem;
          }

          .btn {
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            padding: 0.3rem 0.7rem;
            margin: 0.5rem 0;
            margin-bottom: 1rem !important;
            border-radius: 0;
            color: black;

            &:focus {
              box-shadow: none !important;
            }
          }
        }
      }

      #span-line2 {
        span {
          display: block;
          height: 0.01rem;
          margin: 0.1rem auto;
          width: 100%;
          background-color: rgba($color: #000000, $alpha: 0.2);
        }
      }

      .side-footer {
        width: 100%;
        height: auto;
        background: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;

        .footer-data {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 1rem 0;

          #copy {
            color: rgba($color: #000000, $alpha: 0.7);
            font-size: 0.75rem;
          }
        }
      }
    }
  }

  .back-button {
    position: absolute;
    top: 4%;
    left: 4%;
    background-color: black;

    .btn {
      border-radius: 0;

      &:focus {
        box-shadow: none !important;
      }
    }
  }

  #text {
    padding-top: 1.5rem;
  }

  .title-sep,
  #text {
    font-size: 1rem;
    text-align: center;
    background-color: white;

    .link-button {
      outline: none;
      border: none;
      background-color: transparent;
      text-decoration: underline;
    }

    #meet {
      margin: 0;
      padding-top: 1.5rem;
      color: black;
    }

    #meet2 {
      margin: 0;
      color: black;
    }

    span {
      display: block;
      position: relative;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0.01rem;
      width: 50%;
      background-color: black;
    }
  }

  .main-nav {
    z-index: 1;
    width: 100%;
    height: 4rem;
    background-color: white;
    box-shadow: 0 0.5px 3px 0 black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo-area {
      padding: 0 3rem;
      img {
        width: 4.07rem;
        height: 2.65rem;
        filter: invert(100%);
      }
    }

    .main-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;

        .btn-home,
        .btn-menu,
        .btn-recipes,
        .btn-about,
        .btn-contact {
          cursor: pointer;
          color: black;
          font-size: 1.2rem;
          font-weight: bold;
          padding: 1rem 1.5rem;

          &:active {
            position: relative;
            top: 1px;
          }
        }

        .btn {
          font-size: 1.2rem;
          font-weight: bold;
          cursor: pointer;
          padding: 0.3rem 0.7rem;
          margin: 0 0.5rem;
          border-radius: 0;

          &:active {
            position: relative;
            top: 1px;
          }

          &:focus {
            box-shadow: none !important;
          }
        }
      }

      .fa-bars {
        display: none;
      }
    }
  }

  .home-wrapper {
    .home-page {
      .carousel-caption {
        height: 60%;
        width: 95%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;

        h3 {
          font-size: 2rem;
          font-weight: bold;
          white-space: nowrap;
          filter: drop-shadow(1px 1px black);
          margin: 0;
          padding: 0.5rem 1rem;
          border: 0.01rem solid white;
        }

        p {
          filter: drop-shadow(1px 1px black);
          width: 100%;
          font-size: 1.2rem;
          margin: 1rem 0;
        }
      }

      .carousel-img {
        width: 100%;
        height: 93.5vh;
        object-fit: cover;
        filter: brightness(60%);
      }

      .about-text {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        padding: 2rem 2rem;

        .title-sep,
        #text {
          margin: 0;
          font-size: 1rem;
          text-align: center;
          background-color: white;
          padding-left: 5rem;
          padding-right: 5rem;

          @media all and (min-width: 768px) {
            padding-left: 5rem;
            padding-right: 5rem;
          }

          @media (max-width: 560px) {
            padding-left: 2rem;
            padding-right: 2rem;
          }

          @media (max-width: 400px) {
            padding-left: .5rem;
            padding-right: .5rem;
          }

          .link-button {
            outline: none;
            border: none;
            background-color: transparent;
            text-decoration: underline;
          }

          #meet {
            margin: 0;
          }

          span {
            display: block;
            position: relative;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 0.01rem;
            width: 50%;
            background-color: black;
          }
        }
      }
    }

    .parallax2 {
      #img2 {
        height: 30rem;
      }
    }

    .posts {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 2rem 0;
      background-color: white;

      .youtube-video {
        width: 560px;
        height: 315px;
        margin: 1rem;
        box-shadow: 0 0 12px rgba($color: #000, $alpha: 0.2);
        transition: 0.5s ease;

        @media (max-width: 560px) {
          width: 280px;
          height: 157.5px;
        }

        @media (max-width: 280px) {
          width: 250px;
          height: 127.5px;
        }
      }

      .card {
        width: 25rem;
        margin: 1rem;

        .card-img-top {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
        }

        .card-body {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: flex-start;
          border-top: 1px solid rgb(212, 212, 212);
          text-align: left;

          .card-title {
            margin: 0;
          }

          .card-text {
            text-align: left;
          }

          .btn {
            border-radius: 0;
            align-self: left;

            &:focus {
              box-shadow: none !important;
            }
          }
        }
      }
    }

    .parallax22 {
      .title-sep2,
      #text {
        padding-top: 1.5rem;
        font-size: 1rem;
        text-align: center;
        background: rgba($color: #000000, $alpha: 0.3);
        color: white;

        .link-button {
          outline: none;
          border: none;
          background-color: transparent;
          text-decoration: underline;
        }

        #meet {
          margin: 0;
        }

        span {
          display: block;
          position: relative;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 0.01rem;
          width: 50%;
          background-color: white;
        }
      }

      .reviews-page {
        background: rgba($color: #000000, $alpha: 0.3);
        height: 30rem;

        .carousel {
          width: 100%;
          height: 100%;
          padding-bottom: 3rem !important;

          .carousel-indicators {
            margin-bottom: 2rem !important;
          }

          .carousel-inner {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .card {
            width: 15rem;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .card-img-bottom {
              width: 5rem;
              height: 5rem;
              border-radius: 100%;
              object-fit: cover;
              padding: 0.05rem;
              border: 0.01rem solid grey;
            }

            .card-body {
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              text-align: center;

              span {
                display: block;
                height: 0.01rem;
                margin: 1rem 0;
                width: 60%;
                background-color: rgb(196, 196, 196);
              }

              .card-text {
                text-align: center;
                margin: 0;
                font-weight: lighter;
              }

              .h6 {
                color: black !important;
              }
            }
          }
        }
      }
    }

    .contact-form {
      width: 100%;
      padding: 1rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .text-error {
        color: red;
        margin-top: 0.5rem;
        margin-left: 0.1rem;
        font-weight: normal;
      }

      .spinner-border,
      .alert {
        border-radius: 0;
        margin-top: 1rem;
      }

      .text-err {
        color: red;
        margin: 1.5rem 0;
        font-weight: normal;
      }

      .text-succ {
        color: green;
        margin: 1.5rem 0;
        font-weight: normal;
      }

      h1 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      p {
        margin: 0;
      }

      form {
        text-align: left;
        padding: 1rem;
        margin-top: 1rem;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30rem;
        font-weight: bold;

        .form-group {
          width: 100%;

          .form-control {
            margin: 0;
            width: 100%;
          }

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          input[type="number"] {
            -moz-appearance: textfield;
          }

          input,
          textarea {
            resize: none;
            border-radius: 0;
            &:focus {
              box-shadow: none !important;
              border: 1px solid black;
            }
          }
        }

        .btn {
          font-weight: bold;
          border-radius: 0;
          margin: 0 auto;
          margin-top: 1rem !important;

          &:focus {
            box-shadow: none !important;
          }
        }
      }
    }

    .footer {
      width: 100%;
      height: auto;
      background: black;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;

      .sm-icons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem !important;
        margin: 1rem 0;

        a {
          text-decoration: none;

          label {
            color: white;
            margin: 0;
            margin-top: 0.3rem !important;
            font-size: 0.7rem;
            cursor: pointer;
          }
        }

        #fb {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 1rem;
          padding: 0.5rem;

          .fa-facebook {
            font-size: 1.5rem;
            color: white;
          }
        }

        #ig {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 1rem;
          padding: 0.5rem;

          .fa-instagram,
          .fa-youtube {
            font-size: 1.5rem;
            color: white;
          }
        }

        #yt {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 1rem;
          padding: 0.5rem;

          .fa-instagram,
          .fa-youtube {
            font-size: 1.5rem;
            color: white;
          }
        }
      }

      .footer-sep {
        width: 80%;
        span {
          display: block;
          position: relative;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 0.01rem;
          margin-bottom: 0.5rem;
          width: 80%;
          background-color: white;
        }
      }

      .footer-data {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0;

        #copy {
          color: white;
          font-size: 0.8rem;
        }
      }
    }
  }
}

// Not Found Page

.not {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  .btn {
    position: absolute;
    top: 4%;
    left: 5%;
    font-weight: bold;
    border-radius: 0;

    &:focus {
      box-shadow: none !important;
    }
  }

  #not-found {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-align: center;
  }

  .fa-exclamation-triangle {
    font-size: 5rem;
    margin: 2rem;
    color: black;
  }
}

// Masterclass
.master-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  color: white;
}

// YouTube Background
.container{
	position: relative;
  overflow: hidden;
  
  .videoContainer{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index: -1;
    
    .videoInnerContainer{
      width:100%;
      height:100%;
      
      .overlay{
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        z-index: 5;
        
        .videoIframe {
          position: relative;
          left:0;
          top:0;
          right:0;
          bottom:0;
          width: 100%;
          height: 100%;
          z-index:0;
        }
      }
    }
  }
}

/* Media queries */

@media all and (max-width: 1024px) {
  .main-nav {
    z-index: 1;
    width: 100%;
    height: 4rem;
    background-color: white;
    box-shadow: 0 0.5px 3px 0 black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo-area {
      padding: 0 2rem !important;
      img {
        width: 4rem;
        filter: invert(100%);
      }
    }

    .main-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .nav-list {
        display: none !important;
      }

      .fa-bars {
        display: flex !important;
        cursor: pointer;
        margin: 1rem 2rem;
        font-size: 2rem;
      }
    }
  }
}

@media all and (max-width: 768px) {
  form {
    width: 80% !important;
  }
}
